# <IfModule mod_rewrite.c>
#  # Redirect To HTTPS
#  RewriteCond %{HTTPS} off [OR]
#  RewriteRule ^ https://telefoni.sytes.net%{REQUEST_URI} [L,NE,R=301]
#  # Redirect to non-www 
#  RewriteCond %{HTTP_HOST} ^www\. [NC]
# </IfModule>
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.dailydebts.it [NC]
RewriteRule ^(.*)$ https://dailydebts.it/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.(gif|jpg|png|jpeg|css|js|swf)$ /$1.$2 [END,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?$1 [L,QSA]

ErrorDocument 403 /index.php
ErrorDocument 500 /index.php

SetEnv DB_USERNAME ADMIN
SetEnv DB_PASSWORD c6!RDMX1LSb@7R
SetEnv DB_DATABASE debiti_high