* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: rgb(59, 59, 59);
    
}
.login {
    width: 400px;
    background-color: rgb(195, 195, 195);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 2%;
    overflow: hidden;
    margin-bottom:0;
}
.login h1 {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 204, 87);
    color: #ffffff;
}

.login form input{
    background-color: #fff;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 2px solid rgb(255, 204, 87);
    margin-bottom: 20px;
    padding: 0 15px;
}
 
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
   background-color: rgb(255, 204, 87);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: rgb(59, 59, 59);
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  background-color: rgb(225, 174, 57);
    transition: background-color 0.2s;
}

.logo{
    position: relative;
    left: 0%;
}

.navtop {
	background-color:  rgb(59, 59, 59);
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	max-width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}

.navElement{
    max-width: 150px;
    position: relative;
}

.boxButton{
    max-width: 150px;
    position: relative;
    left: 77%;
}

body.loggedin {
	background-color: rgb(59, 59, 59);
}
.content {
	max-width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 15px 0 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: rgb(255, 204, 87);
    display: flex;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    left: 0;
	margin: 25px 0;
	padding: 25px;
    background-color: rgb(161, 161, 161);
    border-radius: 5px;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: rgb(255, 204, 87);
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
.login form label.error {
    background: none;
    color: red;
    font-weight: bold;
    width: fit-content;
}

.field {
    color: rgb(59, 59, 59);
}

a{
    color: rgb(255, 204, 87);
    width: 100%;
    height: 100%;
}

a:hover{
    color: rgb(225, 174, 57);
}

.center{
    align-content: center;
    text-align: center;
}

.btnHome{
    width: 200px;
    height: 100px;
    background-color: rgb(255, 204, 87);
    margin: 20px 0;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    color: rgb(59, 59, 59);
}

.btnHome:hover {
    background-color: rgb(255 204 87 / 85%);
}

.btnHome:active {
    background-color: rgba(255, 214, 119, 0.85);
}

.nero{
    color: rgb(59, 59, 59);
}

.nero:hover{
    color: rgb(19, 19, 19);
}

.labelForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 204, 87);
    color: #ffffff;
}

.inputForm{
    background-color: #fff;
    width: 310px;
    height: 50px;
    border: 2px solid rgb(255, 204, 87);
    margin-bottom: 20px;
    padding: 0 15px;
}

p{
    position: relative;
    left: 10%;
    bottom: 0px;
    color: rgb(255, 204, 87);
}

.cbox{
    border-radius: 7px;
    background-color: rgb(195, 195, 195);
}

.window {
    width: 400px;
    background-color: rgb(195, 195, 195);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 7px;
    overflow: visible;
}
.window h1 {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.window form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.window form label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 204, 87);
    color: #ffffff;
}

.window form input{
    background-color: #fff;
}

.inputField[type="password"], .inputField[type="text"] {
    width: 310px;
    height: 50px;
    border: 2px solid rgb(255, 204, 87);
    margin-bottom: 20px;
    padding: 0 15px;
}

.window > form > input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(255, 204, 87);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: rgb(59, 59, 59);
    transition: background-color 0.2s;
    border-radius: 0 0 7px 7px;
}
.window > form > input[type="submit"]:hover {
  background-color: rgb(225, 174, 57);
    transition: background-color 0.2s;
}

#search-usrn, #sum, #desc{
    width: 310px;
}

#sum, #desc{
    margin-left: 5px;
}

button{
    background-color: rgb(195, 195, 195);
    margin: 5px;
    border-radius: 5px;
    border-color: rgb(255, 204, 87);
}